BankClient/src/conf/xml-resources/web-service-references/AccountBankWebService/wsdl/localhost_8080/BankService/AccountBankWebService.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is Metro/2.3 (tags/2.3-7528; 2013-04-29T19:34:10+0000) JAXWS-RI/2.2.8 JAXWS/2.2 svn-revision#unknown. --><!-- Generated by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is Metro/2.3 (tags/2.3-7528; 2013-04-29T19:34:10+0000) JAXWS-RI/2.2.8 JAXWS/2.2 svn-revision#unknown. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://service/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://service/" name="AccountBankWebService">
<types>
<xsd:schema>
<xsd:import namespace="http://service/" schemaLocation="http://localhost:8080/BankService/AccountBankWebService?xsd=1"/>
</xsd:schema>
</types>
<message name="login">
<part name="parameters" element="tns:login"/>
</message>
<message name="loginResponse">
<part name="parameters" element="tns:loginResponse"/>
</message>
<message name="addTrans">
<part name="parameters" element="tns:addTrans"/>
</message>
<message name="addTransResponse">
<part name="parameters" element="tns:addTransResponse"/>
</message>
<message name="Postage">
<part name="parameters" element="tns:Postage"/>
</message>
<message name="PostageResponse">
<part name="parameters" element="tns:PostageResponse"/>
</message>
<message name="HisTrans">
<part name="parameters" element="tns:HisTrans"/>
</message>
<message name="HisTransResponse">
<part name="parameters" element="tns:HisTransResponse"/>
</message>
<message name="ParseException">
<part name="fault" element="tns:ParseException"/>
</message>
<portType name="AccountBankWebService">
<operation name="login">
<input wsam:Action="http://service/AccountBankWebService/loginRequest" message="tns:login"/>
<output wsam:Action="http://service/AccountBankWebService/loginResponse" message="tns:loginResponse"/>
</operation>
<operation name="addTrans">
<input wsam:Action="http://service/AccountBankWebService/addTransRequest" message="tns:addTrans"/>
<output wsam:Action="http://service/AccountBankWebService/addTransResponse" message="tns:addTransResponse"/>
</operation>
<operation name="Postage">
<input wsam:Action="http://service/AccountBankWebService/PostageRequest" message="tns:Postage"/>
<output wsam:Action="http://service/AccountBankWebService/PostageResponse" message="tns:PostageResponse"/>
</operation>
<operation name="HisTrans">
<input wsam:Action="http://service/AccountBankWebService/HisTransRequest" message="tns:HisTrans"/>
<output wsam:Action="http://service/AccountBankWebService/HisTransResponse" message="tns:HisTransResponse"/>
<fault message="tns:ParseException" name="ParseException" wsam:Action="http://service/AccountBankWebService/HisTrans/Fault/ParseException"/>
</operation>
</portType>
<binding name="AccountBankWebServicePortBinding" type="tns:AccountBankWebService">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
<operation name="login">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="addTrans">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="Postage">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="HisTrans">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="ParseException">
<soap:fault name="ParseException" use="literal"/>
</fault>
</operation>
</binding>
<service name="AccountBankWebService">
<port name="AccountBankWebServicePort" binding="tns:AccountBankWebServicePortBinding">
<soap:address location="http://localhost:8080/BankService/AccountBankWebService"/>
</port>
</service>
</definitions>